{% load static %}
<h1> All questions </h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<ul>
{% for q in questions %}
    <li id="{{ q.qu_id }}">
        <input type="text" value="{{ q.qu_text }}" disabled> -- {{ q.type }} --
        <button class="cancel" style="display:none"> cancel </button>
        <button class="save" style="display:none"> save </button>
        <button class="edit"> edit </button>
        <button class="delete"> delete </button>
    </li>
{% endfor %}
</ul>
    
<a href='question'> another one </a>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'scripts/main.js' %}"></script>

